@import "./variables";
@import "./buttons";

#about {
  color: $white-color;
  height: 100%;
  width: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  padding-bottom: 3rem;
}

.about-wrapper {
  // display: flex;
  display: grid;
  // flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;

  &__skills {
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0px 2rem;
    margin: auto;
  }
  
  &__info {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 1px;

    &-text {
      text-align:justify;
      font-size: 1.8rem;
      padding: 10px;
    }
  }
}
.title-about {
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: left;
}

.list-skills{
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.down{
  width: 100%;
}

.imgAbout{
  height: 60px;
  margin: 10px;
}